apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namespace: prod

images:
  - name: django-api
    newName: 381492238320.dkr.ecr.us-east-1.amazonaws.com/django-gitops/django-api
    newTag: latest    # CI will update this tag after manual approval

patches:
  - path: patches/deployment-patch.yaml
    target:
      kind: Deployment
      name: django-api

commonLabels:
  environment: prod