apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: django-api-staging
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/mohammadrezachegini/Django-GitOps-AWS.git
    targetRevision: master
    path: k8s/overlays/staging

  destination:
    server: https://kubernetes.default.svc
    namespace: staging

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true